@model IEnumerable<UDS.Models.FieldType>

<script type="text/javascript">
    $("input#jbconfirm").click(function() {
        var data = $("input#jbdaysbefore").val();
        ajaxPost("../Administrator/UpdateParameter", "tid=" + 2 + "&paraname=daysbefore&paravalue=" + data, function(text) {
            eval(text);
        }, function() {});
    })
</script>
<div style="min-width: 1050px">
    <div id="fieldtype" style="float: left; width: 50%; min-width: 500px;">
        @Html.Action("FieldTypePritialAction")
    </div>
    <div id="flowparams" style="float: left; width: 50%; min-width: 500px;">
        @Html.Action("FlowParamsPartialAction")
    </div>
</div>