@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About404Error</title>
</head>
<body>
    <div style="width: 100%">
        <img style="width: 100%; height: 100%" src="../../Content/error404.jpg"/>
    </div>
</body>
</html>
